section .card{
    margin:0 10px;
    border: 2px solid white;
    border-radius: 10px;
    height: 450px;
    width: 370px;
    color: white;
    transition: background-color 0.4s ease;
}
.card:hover{
    background-color: rgba(0,0,0,0.3);
}
.card{
    margin-top: 25px;
    margin-left: 5px;
}
.contenedores{
    display: flex;
}
section h3{
    text-decoration: underline;
    font-size: 26px;
}
section img {
    width: max-content;
    height: 200px;
}
.card-text{
    margin: 0 auto;
    font-size: 24px;
    text-shadow: none;
    padding: 20px 0;
    width: 300px;
    text-align: justify;
}
